In [40]:
## importing the necessary libs
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
# importing the dataset (https://www.kaggle.com/datasets/anmolkumar/house-price-prediction-challenge)
df = pd.read_csv("train.csv") #reading the dataset
df.sample(10)

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,PRICE_IN_LACS
23386,0,0,2,BHK,756.192960,1,1,12.858260,80.184195,29.0
27909,0,0,2,BHK,1200.000000,1,1,13.930233,75.692232,60.0
25823,1,0,3,BHK,1584.447145,0,1,23.296956,85.319463,65.2
21328,0,1,3,BHK,1851.192595,1,1,30.662283,76.822397,52.0
4481,0,0,2,BHK,400.000000,1,1,28.467299,77.028895,30.0
1231,1,1,3,BHK,1356.698700,0,1,12.961000,80.240900,120.0
14336,1,0,2,BHK,475.001522,0,1,19.218498,72.992114,78.0
15526,1,1,3,BHK,1556.958741,0,0,19.218498,72.992114,180.0
20002,0,0,2,BHK,1325.088339,1,1,20.268950,85.763542,75.0
10327,0,0,2,BHK,1165.181631,1,1,23.674752,86.150586,51.0

In [42]:
#cleaning and refining data
df['BHK_OR_RK'] = df['BHK_OR_RK'].replace('BHK', 1)
df['BHK_OR_RK'] = df['BHK_OR_RK'].replace('RK', 2)
df.sample()

,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,PRICE_IN_LACS
13205,0,1,3,1,1500.0,1,1,28.406388,77.342588,54.0

In [43]:
#importing decision tree

model = DecisionTreeRegressor()
X = df.drop(['PRICE_IN_LACS'], axis = 1) #features
y = df['PRICE_IN_LACS'] #target or dependant variable

In [44]:
#testing accuracy for the Machine Learning Model using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

model.fit(X_train, y_train)
pre = model.predict(X_test)
accuracy = r2_score(y_test, pre)
accuracy

0.9076270213529564